@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+SA:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Kufam", serif;
    font-optical-sizing: auto;
}

body{
    background-color: #1d1c1c;
}

nav{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    background-color: #e60303b7;
    gap: 2px;
}

nav .logo{
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

#logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff6347;
}
nav .nav-links{
    display: flex;
    gap: 60px;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: #fff;
}


